target
pkg
*.lock
www/package-lock.json
www/node_modules
boxbopperconsole/target
boxboppertool/target
boxboppersolver_old
boxboppertool/.vs
boxboppertool/.vs/
boxboppertool/.vs/slnx.sqlite
boxboppertool/.vs/boxboppertool/v16/.suo
boxbopperconsole/target/.rustc_info.json
